@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Light";
  src: url("../public/fonts/Lato-Light.ttf");
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: black;
    /* border-radius: 100vh; */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: black/0.8;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
